<div id="<%= dom_id movie %>">
  <p>
    <strong>Moviename:</strong>
    <%= movie.moviename %>
  </p>

  <p>
    <strong>Moviedesc:</strong>
    <%= movie.moviedesc %>
  </p>

  <p>
    <strong>Moviedir:</strong>
    <%= movie.moviedir %>
  </p>

  <p>
    <strong>Movielang:</strong>
    <%= movie.movielang %>
  </p>

</div>
